<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:jee="http://java.sun.com/xml/ns/javaee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/spring-aop.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--http://www.springframework.org/schema/tx/spring-tx.xsd">-->
    <!--http://www.w3.org/2001/XMLSchema-instance-->
    <!--http://www.w3.org/2001/XMLSchema-instance.xsd-->


    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>


    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"></bean>-->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"></bean>-->



    <!--<bean  name="/product_input.action" class="com.whg.controller.InputProductController"/>-->
    <!--<bean  name="/product_save.action" class="com.whg.controller.SaveProductController" />-->
    <!--<context:annotation-config />-->
    <context:component-scan base-package="com.whg.controller" > </context:component-scan>
    <!--<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />-->
    <context:component-scan base-package="com.whg.service"/>
    <mvc:annotation-driven />
    <mvc:resources mapping="/css/*" location="/css/" />
    <mvc:resources mapping="/*.html" location="/"/>

</beans>